<h1>New music</h1>

<p>SOUNDCLOUD ONLY! You can go to soundcloud page and click 'share' below song, click 'embed' at top of popup, then copy iframe code. Paste in Link.<p>

<%= render 'form' %>

<%= link_to 'Back', musics_path %>
